* {
	margin:0px;
    padding: 0px;
    top: 0;
 }

/* --- HEADER --- */

#logo {
	height:100px;
	border:none;
	display:flex;
    right: 0;
    margin: 0px 25px;
}

/* --- MENU --- */

#entete #navmenu #ulmenu{
	list-style-type: none;
    display: flex;
}

#entete #navmenu .limenu{
	float: left;
	display: flex;
    align-items: center;
	text-align: center;
}


#entete #navmenu{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background-color: rgb(237, 160, 243);

}

#entete #navmenu a{
	font-weight:bold;
	display:block;
	text-decoration:none;
	color:black;
	border-bottom:2px solid transparent;
	margin: 0px 25px;
}

#entete #navmenu #ulmenu .limenu a:hover{
	color:white;
}


#entete #navmenu #ulmenu .limenu{
    padding: 2%;
	text-align:center;
	position:relative;
}

/* --- PAGE INDEX POUR LA CONNEXION --- */


#connexion{
	background: #70afee;
	width: 100vw;
}

#container{
	width:400px;
	margin: auto;
	margin-top:10%;
}

form {
	width:90%;
	padding: 5%;
	border: 1px solid #ffffff;
	background: rgb(255, 255, 255);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#container h1{
	width: 38%;
	margin: 0 auto;
	padding-bottom: 10px;
}


input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
	background-color: #347ddc;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

input[type=submit]:hover {
	background-color: white;
	color: #347dcc;
	border: 1px solid #347ddc;
}

/* --- TABLEAUX DES PAGES POUR CONSULTER LA BD --- */

h1{
	margin-left: 10%;
}
table{
	width: 80%;
	margin: 0 auto;
}

table,td, th {
	border:2px solid #cccccc;
	padding:  10px;
	border-collapse: collapse;
	text-align: center;
	
  }
  
  th {
	font-weight: 100;
	background-color: #E3E3E3;
  }

  .contenaire-tableau{
	display: block;
	text-align: left;
	
	width: 100%;
  }

  /* --- IMG --- */
  .imgB{
	width: 80px;
	height: 80px;
}
.imgJ{
	width: 150px;
	height: 150px;
}

/* --- Button --- */
.button-75 {
  align-items: center;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-75:active {
  outline: 0;
}

.button-75:hover {
  outline: 0;
}

.button-75 span {
  transition: all 200ms;
}

.button-75:hover span {
  transform: scale(.9);
  opacity: .75;
}

@media screen and (max-width: 991px) {
  .button-75 {
    font-size: 15px;
    height: 50px;
  }

  .button-75 span {
    line-height: 50px;
  }
}
