* {
	margin:0px;
    padding: 0px;
    top: 0;
 }


/* --- HEADER --- */

#logo {
	height:100px;
	border:none;
	display:flex;
    right: 0;
    margin: 0px 25px;
}

/* --- MENU --- */

#entete #navmenu #ulmenu{
	list-style-type: none;
    display: flex;
}

#entete #navmenu .limenu{
	float: left;
	display: flex;
    align-items: center;
	text-align: center;
}


#entete #navmenu{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    box-sizing: border-box;
    align-items: center;
    background-color: rgb(230, 55, 174);

}

#entete #navmenu a{
	font-weight:bold;
	display:block;
	text-decoration:none;
	color:black;
	border-bottom:2px solid transparent;
	margin: 0px 25px;
}

#entete #navmenu #ulmenu .limenu a:hover{
	color:white;
}


#entete #navmenu #ulmenu .limenu{
    padding: 2%;
	text-align:center;
	position:relative;
}

/* --- PAGE INDEX POUR LA CONNEXION --- */


#connexion{
	background: #70afee;
	width: 100vw;
}

#container{
	width:400px;
	margin: auto;
	margin-top:10%;
}

form {
	width:90%;
	padding: 5%;
	border: 1px solid #ffffff;
	background: rgb(255, 255, 255);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#container h1{
	width: 38%;
	margin: 0 auto;
	padding-bottom: 10px;
}


input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
	background-color: #347ddc;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

input[type=submit]:hover {
	background-color: white;
	color: #347dcc;
	border: 1px solid #347ddc;
}